{% include '/shared/mobile_head.html' %}

{% include '/shared/metadata/userprofile_metadata.html' %}

{% include '/shared/mobile_head_bottom.html' %}

{% include '/shared/body_header.html' %}

{% if online == 1 %}{% set online = "online_dot" %}{% else %}{% set online = "" %}{% endif %}
 
<!-- ENTER CONTENT HERE -->
<div id="profilebody">

    <div class="pure-u-1 container">
        <div class="pure-g purepad">
            <div class="userpage_pic" style="background: url('{{user_pic}}'); background-size: 100%;"></div>
      
            <div class="pure-u-14-24 title user_info_name">
                <h1 class="narrow_book username_trunc {{online}}">{{user_name}}</h1>
                <h2 class="narrow_light user_subline upper">{{followers_section_total_count}} Follower{% if followers_section_total_count != 1 %}s{% endif %}</h2>
            </div>

            {% if session.id != "" and profile_id != session.id %}
                <div class="more_button">
                    <a class="more_link" href="#" class="link" id="bar">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        
    </div>

    <div id="tabs">
        <ul class="user_selection smoothtext">
            
            <li id="activity" class="pure-u-8-24 select_activity"><a href="{% if initial_section == 'activity' %}#initial_section{% else %}{{post_script}}{{profile_id}}/activity/ajax{% endif %}" onclick='return sorryLoading();' class="narrow_book">Activity</a>
                <span class="profile_underline"></span>
            </li>
            <li id="followers" class="pure-u-8-24 select_followers"><a href="{% if initial_section == 'followers' %}#initial_section{% else %}{{post_script}}{{profile_id}}/followers/ajax{% endif %}" onclick='return sorryLoading();' class="narrow_book">Followers</a>
                <span class="profile_underline"></span>
            </li>
            
            <li id="following" class="pure-u-8-24 select_following"><a href="{% if initial_section == 'following' %}#initial_section{% else %}{{post_script}}{{profile_id}}/following/ajax{% endif %}" onclick='return sorryLoading();' class="narrow_book">Following</a>
                <span class="profile_underline"></span>
            </li>
            
       </ul>

       <div id="initial_section">
           
            {% include '/shared/user/'~initial_section~'_base.html' with {'list_items': initial_section_list_items, 'set_num': 1, 'total_count': initial_section_total_count} %}
            
       </div>


        <div class="pure-g smoothtext">

            <div class="loading_txt default_message">
                <p class="purepad">loading...</p>
            </div>
            <div class="default_message no_activity">
                <p class="purepad">No activity yet.</p>
            </div>
            <div class="default_message no_followers">
                <p class="purepad">No one is following {{ user_firstname }}.</p>
            </div>
            <div class="default_message no_following">
                <p class="purepad">{{ user_firstname }} is not following anyone.</p>
            </div> 

        </div>


        {% if session.id != profile_id %}
            <div class="pure-u-24-24 whitespace_footer"></div>
        {% endif %}
       

    </div>
    

</div>

<div class="ui-widget widget-flash FixedBottom">
    <div class="ui-state-highlight"> 
        <p>
           <span></span>
        </p>
    </div>
</div>

<!-- END ENTER CONTENT -->

<div class="pure-u-1 more_popup smoothtext">
    <div class="pure-u-1 more_box">

        {% if user_is_blocked == 0 %}
        <a class="msg_icon" href="/chat/start/{{profile_id}}" id="msg_icon">
            <div class="more_row share_click more_msg_row">
                <div class="sprite_high msg_btn"></div>
                <p>Messages</p>
            </div>
        </a>
        {% endif %}

        <a class="block_icon" href="#" id="block_icon">
            <div class="more_row share_click more_block_row {% if user_is_blocked %}activated{% endif %}">
                <div class="sprite_high block_btn"></div>
                <p class="block_text">Block user</p>
            </div>
        </a>

        <a class="report_icon" href="mailto:complaints@iflist.com?subject=User Complaint" id="report_icon">
            <div class="more_row share_click more_report_row">
                <div class="sprite_high report_btn"></div>
                <p>Send report</p>
            </div>
        </a>

    </div>
    <div class="more_arrow"></div>
</div>

{% include 'shared/share_popup.html' %}

{# {% include 'shared/fixed_buttons.html' with {button1_type: 'follow'} %} #}

{% if session.id != profile_id %}
   {# {% include 'shared/long_fixed_button.html' with {button_type: 'follow'} %} #}
   {% include 'shared/fixed_buttons.html' with {button1_type: 'follow', button2_type: 'message'} %}
{% endif %}

{% include '/shared/body_footer_js.html' %}


<script type="text/javascript" src="/min/?f=js/plugins/jquery.expander.min.js,js/userprofile.js,js/FollowManager.js,js/BlockButton.js,js/trunk8.min.js,/js/ScrollManager.js,js/LikeDislikeManager.js,js/CommentManager.js,js/ShareManager.js,js/ActivityActionsBar.js,js/modal.js"></script> 

<script type="text/javascript">

    var follow_state = "{{ follow_state }}";
    var profile_user_id = "{{ profile_id }}";
    var profile_user_name = "{{ user_name }}";
    var initial_section = "{{ initial_section }}";
    var initial_section_total_count = "{{ initial_section_total_count }}";

    var activity_section_total_count = "{{ activity_section_total_count }}";
    var followers_section_total_count = "{{ followers_section_total_count }}";
    var following_section_total_count = "{{ following_section_total_count }}";

    var section_limit = "{{ section_limit }}";
    var post_script = "{{ post_script }}";

    $(function() {
        UserProfile.init();
        ActivityActionsBar.init();
        $("a").attr("onclick", "");
    });

</script>

{% include '/shared/body_footer.html' %}



