/search-replace-db/*
wp-config.php
wp-content/uploads/*
/tests/*
.htaccess
/.htaccess
/phpinfo.php
/.DS_Store
/videos/.DS_Store
/wp-admin/css/.DS_Store
/videos/html5/.DS_Store
/wp-includes/Requests/.DS_Store
/wp-includes/js/.DS_Store
/wp-includes/SimplePie/.DS_Store
/videos/html5/eh5v.files/.DS_Store
/wp-includes/Text/.DS_Store
/wp-includes/images/.DS_Store
.DS_Store
/wp-content/plugins/.DS_Store
