{% include '/shared/mobile_head.html' %}

{% include '/shared/metadata/userhome_metadata.html' %}

{% include '/shared/mobile_head_bottom.html' %}

{% include '/shared/body_header.html' %}

 
<!-- ENTER CONTENT HERE -->

{% if initial_section == "activity" %}

    <div class="pure-g fullwidth_wrapper newsheader">
        <div class="fullwidth_row">
            <h1 class="narrow_light">News Feed</h1>
        </div>
    </div>

    <div id="profilebody" class="userhome_body">
    {% autoescape 'html' %}
    {% set default_message = "Receive news that interests you by supporting your favorite <a href='/stories'><strong>stories</strong></a> or <a href='/actors'><strong>actors.</strong></a>" %}
    {% endautoescape %}

{% elseif initial_section == "notifications" %}

    <div class="pure-g fullwidth_wrapper aboutheader notifications_wrap">
        <div class="fullwidth_row">
            <h1 class="narrow_light">Notifications ({{initial_section_total_count}})</h1>
        </div>
    </div>

    <div class="userhome_body smoothtext">

     {% set default_message = "No notifications yet" %}

{% endif %}
    
    {% if initial_section_total_count > 0 %}
        
        {% include '/shared/user/'~initial_section~'_base.html' with {'list_items': list_items, 'set_num': 1, 'total_count': initial_section_total_count} %}

    {% else %}
      
        <div class="default_message no_activity show_message">
            <p class="purepad">{{default_message|raw}}</p>
        </div>
    
    {% endif %}

  
        <div class="ui-state-highlight"> 
            <p>
               <span></span>
            </p>
        </div>
    </div>

<div class="ui-widget widget-flash FixedBottom">
    <div class="ui-state-highlight"> 
        <p>
           <span></span>
        </p>
    </div>
</div>

<!-- END ENTER CONTENT -->

{% include '/shared/share_popup.html' %}

{% include '/shared/body_footer_js.html' %}


<script type="text/javascript" src="/min/?f=js/plugins/jquery.expander.min.js,js/userhome.js,js/trunk8.min.js,js/ScrollManager.js,js/LikeDislikeManager.js,js/CommentManager.js,js/ShareManager.js,js/ActivityActionsBar.js,js/modal.js"></script> 

<script type="text/javascript">

    var initial_section = "{{ initial_section }}";
    var initial_section_total_count = "{{ initial_section_total_count }}";
    var activity_section_total_count = "{{ activity_section_total_count }}";
    var notifications_section_total_count = "{{ notifications_section_total_count }}";

    var section_limit = "{{ section_limit }}";
    var post_script = "{{ post_script }}";

    $(function() {
        UserHome.init();
        ActivityActionsBar.init();
    });

</script>

{% include '/shared/body_footer.html' %}




