{# list_len #}
{# row_length #}

{% if row_length > list_len %}
	{% set num_remaining = row_length - list_len %}
{% elseif list_len == 0 %}
	{% set num_remaining = row_length %}
{% elseif list_len is divisibleby(row_length) %}
	{% set num_remaining = 0 %}
{% else %}
	{% set num_remaining = (row_length-(list_len % row_length))  %}
{%endif%}


{% if credit_type == "casting" %} 
	{% set empty_class_str = " empty-role" %}
{% else %} 
	{% set empty_class_str = " empty-project" %}
{% endif %} 
 
{#
ll: {{ list_len }}
l: {{ row_length }}
n: {{ num_remaining }} 
#}

{% if row_length == 5 %}
	{% set grid = '1-5' %}
{% else %} 
	{% set grid = 24/row_length ~ '-24' %}
{% endif %} 


{% if num_remaining > 0 %} 

	{% for i in 1..num_remaining %} 
		<div class="pure-u-{{ grid }} empty_thumb">

			<div class="plus pure-u-1">
			
				<a href="{{link_url}}" type="{{ credit_type }}"><img class="tr_thumb prop_img_big {{ credit_click }}" src="{{ image }}" alt="{{ name }}" /><span><i class="fa fa-plus"></i></span></a>	


			</div>

		
		</div>	
	{% endfor %}	
{% endif %} 

