{% include '/shared/mobile_head.html' %}

{% include '/shared/metadata/talent_list_metadata.html' %}

{% include '/shared/mobile_head_bottom.html' %}

{% include '/shared/body_header.html' %}         

    <div class="listwrapper">
        <div class="pure-g fullwidth_wrapper storyheader">
            <div class="fullwidth_row">
                <span class="narrow_book">{{ list_count_display }}</span><span class="narrow_light story_lighter">&nbsp;{{title_str}}</span>
            </div>
        </div>

        {% include '/shared/list_items.html' %} 

        {% if page == 'actors' %}
            {% set button_label = "ADD AN ACTOR" %}
        {% elseif page == 'filmmakers' %}
            {% set button_label = "ADD A FILMMAKER" %}
        {% endif %}

        {% include '/shared/long_fixed_button.html' with { "button_text": button_label } %}

    </div>
        
{% include '/shared/body_footer_js.html' %}

<script type="text/javascript">

    page = "{{ page }}";
    identity_id = "{{ identity_id }}";
    identity_name = "{{ identity_names }}";
    age_id = "{{ age_id }}";
    age_name = "{{ age_name }}";
    gender_id = "{{ gender_id }}";
    gender_name = "{{ gender_names }}";
    age_names = "{{ age_names }}";
    ethnicity_id = "{{ ethnicity_id }}";
    ethnicity_name = "{{ ethnicity_names }}";
    identity_type = "{{ identity_type }}";
    category_fullname = "{{ category_fullname }}";
    sortby = "{{ sortby }}";
    sort_direction = "{{ sort_direction }}";
    keyword = "{{ keyword }}";
    total_count = "{{ total_category_count }}";
    list_count = "{{ list_count }}";
    current_filter = "{{ current_filter }}";                
                
    {% include '/shared/user_info_js.html' %}

    var currSetNum = 0; 

</script>

<script type="text/javascript" src="/min/?f=js/list_mobile.js,js/listpage.js,js/trunk8.min.js"></script>  


{% include '/shared/body_footer.html' %}