{% spaceless %}
<div class="pure-g purepad actor_titles row_top" id="proposals_casting"> 
	<div class="pure-u-1 row_of_four_first" data-num_total="{{ overview.num_casting_proposals }}" id="">

{% for row in top_rated_role_items %} 

	{% if loop.index0 == 4 %}
		</div>
		<div class="pure-u-1 row_of_four" data-num_total="{{ overview.num_casting_proposals }}" id="">
	{% endif %}


	{% if row.officially_cast == 'Y' %}{% set casted_str = " casted " ~ get_title_status(row.tr_status_id).class  %} {% else %}{% set casted_str = "" %}
	{% endif %}

	{% if row.profile_handle|length > 0 and row.use_handle %}
		{% set linkUrl = '/talent/' ~ row.profile_handle ~ '#casting_proposals-'~ row.proposal_id %}
	{% else %}
		{% set linkUrl = '/proposals/' ~ row.tr_p_id ~ '?track=talent' %}
	{% endif %}				

	{% if row.role_pic|length > 0 %}
		{% set pic_url = constant('CLOUDFRONT') ~ constant('ROLE_PICS_DIR') ~ row.role_id ~ '/' ~ 'SM_' ~ row.role_pic %}
		
	{% elseif row.title_pic|length > 0 %}
		{% set pic_url = constant('CLOUDFRONT') ~  constant('TITLE_PICS_DIR') ~ row.title_id ~ '/' ~ 'SM_' ~ row.title_pic %}
	{% else %}
		{% set pic_url = "/images/Top_Cast_Square_white_v1.jpg" %}
	{% endif %}
	
	<div class="pure-u-6-24 prt prop_thumb" id="thumb_{{ row.role_id }}"><a class="thumb{{ casted_str }}" href="{{ linkUrl }}" data-type="casting" data-talent_id="{{ row.talent_id }}" data-role_id="{{ row.role_id }}" data-title_id="{{ row.title_id }}" title="{{ row.tr_name }}"><img class="pure-img prop_img_big tr_thumb" id="img_{{ row.tr_p_id }}" src="{{ pic_url }}" alt="{{ row.tr_name }}" /></a>
	</div>

{% endfor%}

{% set id = profile_info.profile_id %}
{% set name = profile_info.name %}
{% set form_url = '/includes/newproposal-form.php?proposal_type=casting&profile_type=talent&id='~id~'&name='~name~'&pic='~img~'&pic='~profile_info.main_pic_url~'&section=overview' %}

 {% if session.id|length > 0 %}
	{% set link = form_url %}
{% else %}
	{% set link = "/includes/login-form.php?redirect=" ~ form_url|url_encode %}
{% endif %}

{% include 'talent/empty_thumb_filler.html' with {'list_len':top_rated_role_items|length ,'row_length':4, 'image': "/images/Top_Cast_Square_white_v1.jpg", 'credit_type':'casting', 'link_url': link, 'credit_click': ''} %}


	</div> 

	{% include 'shared/more_less_navigation.html' %}
	 <div class="pure-u-4-24"> </div>
	    

	{% set add_label_name = "Role" %} 
	{% set add_link_class = "add_role_link" %}

	<div class="pure-u-10-24">
        <div class="add_actor {{ add_link_class }}"> 
            <div class="narrow_book upper"><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{{ link }}" class="propose">{{ add_label_name }}</a>
            </div>
        </div>   
    </div>   


</div>

 {% endspaceless %}

