{% spaceless %}
<div class="pure-g purepad actor_credits row_top" id="credits_casting"> 
	<div class="pure-u-1 row_of_four_first" data-num_total="{{ overview.num_casting_credits }}" id="">

{% for row in top_rated_casting_credit_items %} 
	
	{% if loop.index0 == 4 %}
		</div>
		<div class="pure-u-1 row_of_four" data-num_total="{{ overview.num_casting_credits }}" id="">
	{% endif %}

	{% if row.officially_cast == 'Y' %}{% set casted_str = " casted" %} {% else %}{% set casted_str = "" %}
	{% endif %}

	
	{% if row.title_pic|length > 0 %}
		{% set pic_url = constant('CLOUDFRONT') ~ constant('MOVIE_TITLE_PICS_DIR') ~ row.title_id ~ '/' ~ row.thumb_size ~ '_' ~ row.title_pic %}
		
	{% else %}
		{% set pic_url = "/images/Top_Cast_Square_white_v1.jpg" %}
	{% endif %}
		
	<div class="pure-u-6-24 prt prop_thumb" id="thumb_{{ row.credit_id }}"><a class="thumb filled" href="/credits/{{row.credit_id}}?track=talent" title="{{ row.talent_name }} as {{ row.name }}" data-type="{{ row.credit_type }}" data-talent_id="{{ row.talent_id }}" data-role_id="{{ row.role_id }}" data-title_id="{{ row.title_id }}"><img class="pure-img prop_img_big credit_img tr_thumb{{ classStr }}" id="img_{{ row.credit_id }}" src="{{ pic_url }}" alt="{{ row.name }}" /></a></div>

{% endfor%}


{% include 'talent/empty_thumb_filler.html' with {'list_len':top_rated_casting_credit_items|length ,'row_length': 4, 'image': "/images/Filmreel_silhouette_white.jpg", 'credit_type':'casting', 'credit_click': 'credit_img'  } %}

	</div> 

	{% include 'shared/more_less_navigation.html' %}

	<div class="whitespace_fixer"></div>
	

</div>
{% endspaceless %}