{% spaceless %}
<div class="pure-g purepad actor_titles row_top"  id="proposals_crew"> 
	<div class="pure-u-1 row_of_four_first" data-num_total="{{ overview.num_filmmaking_proposals }}" id="">
{% for row in top_rated_title_items %} 

	{% if loop.index0 == 4 %}
		</div>
		<div class="pure-u-1 row_of_four" data-num_total="{{ overview.num_filmmaking_proposals }}" id="">
	{% endif %}

	{% if row.officially_cast == 'Y' %}{% set casted_str = " casted " ~ get_title_status(row.tr_status_id).class %} {% else %}{% set casted_str = "" %}
	{% endif %}

	{% if row.profile_handle|length > 0 and row.use_handle %}
		{% set linkUrl = '/talent/' ~ row.profile_handle ~ '#casting_proposals-'~ row.proposal_id %}
	{% else %}
		{% set linkUrl = '/proposals/' ~ row.proposal_id %}
	{% endif %}				

	{% if row.main_pic|length > 0 %}
		{% set pic_url = constant('CLOUDFRONT') ~ constant('TITLE_PICS_DIR') ~ row.title_id ~ '/' ~ row.thumb_size ~ '_' ~ row.main_pic %}
		
	{% else %}
		{% set pic_url = "/images/Title_Silhouette_white.jpg" %}
	{% endif %}
		
	<div class="pure-u-6-24 prt prop_thumb" id="thumb_{{ row.proposal_id }}"><a class="thumb filled{{ casted_str }}" href="{{ linkUrl }}?track=talent" data-type="casting" data-talent_id="{{ row.talent_id }}" data-role_id="{{ row.role_id }}" data-title_id="{{ row.title_id }}" title="{{ row.talent_name }} as {{ row.name }}"><img class="pure-img prop_img_big tr_thumb" id="img_{{ row.proposal_id }}" src="{{ pic_url }}" alt="{{ row.name }}" /></a></div>

{% endfor%}

{% set id = profile_info.profile_id %}
{% set name = profile_info.name %}
{% set form_url = '/includes/newproposal-form.php?proposal_type=crew&profile_type=talent&id='~id~'&name='~name~'&pic='~img~'&pic='~profile_info.main_pic_url~'&crew_identities='~profile_info.crew_identities|join('|')~'&crew_ids='~profile_info.crew_ids|join('|') %}

 {% if session.id|length > 0 %}
	{% set link = form_url %}
{% else %}
	{% set link = "/includes/login-form.php?redirect=" ~ form_url|url_encode %}
{% endif %}

 {% include 'talent/empty_thumb_filler.html' with {'list_len':top_rated_title_items|length ,'row_length':4, 'image': "/images/Title_Silhouette_white.jpg", 'credit_type':'crew', 'link_url': link, 'credit_click': ''  } %}

	</div>

	{% include 'shared/more_less_navigation.html' %}
		 <div class="pure-u-4-24"> </div>
	    

	{% set add_label_name = "Project" %} 
	{% set add_link_class = "add_project_link" %}

	<div class="pure-u-10-24">
        <div class="add_actor {{ add_link_class }}"> 
            <div class="narrow_book upper"><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{{ link }}" class="propose">{{ add_label_name }}</a>
            </div>
        </div>   
    </div>   


</div>
{% endspaceless %}