{# mobile only page #}

{% include '/shared/mobile_head.html' %}

{% include '/shared/mobile_head_bottom.html' %}

{% include '/shared/body_header.html' %}

    <div class="pure-g fullwidth_wrapper aboutheader">
        <div class="fullwidth_row">
            <h1 class="narrow_light">About</h1>
        </div>
    </div>

      <div class="pure-g purepad smoothtext">

        

        <div class="pure-u-1 about-para">
            <p>The IF List &#8210; The Imagine Film List &#8210; is a free online database and platform for movie ideas based on books, comics, real events and other sources. The IF List allows anyone, inside or outside the entertainment industry, to discover and propose stories for film and TV, share their dream casts, and gain popular support for the ideas they want to become reality.
            </p>
        </div>

        <div class="pure-u-1 heading">
            <h2 class="narrow_book">THE IF LIST IS A RESOURCE FOR:</h2>
        </div>

        <div class="pure-u-1 about-text">
            <p>
                <strong>Authors</strong> &#8210; to promote their work to fans and to film and TV producers</p>
        </div>


        <div class="pure-u-1 about-text">
            <p>
                <strong>Actors</strong> &#8210; to market themselves to fans and campaign for dream roles</p>
        </div>

        <div class="pure-u-1 about-text">
            <p>
                <strong>Filmmakers</strong> &#8210; to build support for their projects and ideas</p>
        </div>

        <div class="pure-u-1 about-text">
            <p>
                <strong>Producers</strong> &#8210; to discover new stories and gauge audience demand</p>
        </div>


        <div class="pure-u-1">
            <p>
                <strong>Casting Directors</strong> &#8210; to find the right talent for the roles they need to fill</p>
        </div>


        <div class="pure-u-1 heading">
            <h2 class="narrow_book">COMING SOON ON MOBILE</h2>
        </div>

        <div class="pure-u-1 about-text">
            <ul>
                <li><p>Add new story profiles</p></li>
                <li><p>Add new actor and filmmaker profiles</p></li>
                <li><p>See recent activity in your newsfeed</p></li>
            </ul>
        </div>
        
        <div class="pure-u-1 about-para">
            <p>In the meantime, please visit us on your desktop to access these features.</p>
        </div>


        <div class="pure-u-1 heading">
            <h2 class="narrow_book">FOLLOW US</h2>
        </div>

        <div class="pure-u-1 about_icons">
            <a class="fb_icon" href="https://www.facebook.com/iflist" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a class="twitter_icon" href="https://twitter.com/theiflist" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="pinterest_icon" href="http://www.pinterest.com/iflist/" target="_blank"><i class="fa fa-pinterest"></i></a>
            <a class="googleplus_icon" href="https://plus.google.com/+Iflist" rel="publisher" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a class="narrow_book bloglink" href="http://blog.iflist.com/" target="_new">Blog</a>
        </div>


        <div class="pure-u-1 heading">
            <h2 class="narrow_book">CONTACT US</h2>
        </div>

        <div class="pure-u-1 about-text">
            <p><strong>General Inquiries</strong></p><p><a href="mailto:info@iflist.com">info@iflist.com</a></p>
        </div>

        <div class="pure-u-1 about-text">
            <p><strong>Technical Support</strong></p><p><a href="mailto:support@iflist.com">support@iflist.com</a></p>
        </div>

        <div class="pure-u-1 about-text">
            <p><strong>Advertising & Sales</strong></p><p><a href="mailto:advertise@iflist.com">advertise@iflist.com</a></p>
        </div>

        <div class="pure-u-1 about-text">
            <p><strong>Media Inquiries</strong></p><p><a href="mailto:media@iflist.com">media@iflist.com</a></p>
        </div>

        <div class="pure-u-1 about-text">
            <p><strong>Partnership Inquiries</strong></p><p><a href="mailto:partner@iflist.com">partner@iflist.com</a></p>
        </div>

        <div class="pure-u-1">
            <p><strong>Legal Affairs</strong></p><p><a href="mailto:legal@iflist.com">legal@iflist.com</a></p>
        </div>

        <div class="pure-u-1 heading">
            <h2 class="narrow_book">TERMS & PRIVACY</h2>
        </div>

        <div class="pure-u-1 about-text">
            <p>Before registering, please read our <a href="/terms_of_service" title="Terms of Service" class="tos_and_pvc">terms of service</a> and <a href="/privacy" title="Privacy Policy" class="tos_and_pvc">privacy policy</a>.</p><br><br>
            <p style="font-style: italic;">For more information and additional features that we offer, please visit us on your desktop.</p><br><br><br><br>
        </div>

    </div>


{% include '/shared/body_footer_js.html' %}

{% include '/shared/body_footer.html' %}