<div class="pure-g smoothtext list_item user_activity_item credit_item">
	 
    <section class="pure-u-24-24 purepad">
    <!-- <span class="story_listing_num"><span class="narrow_book">{{item_number}}</span></span> -->
    
     {% if credit_type == "casting" %}
        {% set the_name = role_name %}
        {% set item_name = talent_name~" as "~role_name %}
    {% else %}
        {% set the_name = identity_name %}
        {% set item_name = talent_name~" for "~movie_name %}
    {% endif %}

        {% set status_str = "status-mark credit-mark" %}
        {% set credit_item_type = "non_featured" %}

        {% include 'credits/credit_topline.html' %}

        {% include 'user/shared/activity_small_sidebyside.html' with { talent_pic_url: talent_pic_url, role_pic_url: role_pic_url, talent_name: talent_name, role_name: the_name, strong_url: credit_url} %}

        {# include 'credits/credit_by.html' with {name: user_name, time_elapsed: time_elapsed} #}

   		{# {% if comment|length > 0 %}
        <div class="pure-u-24-24 featured_quote">
    		<p class="italic">{{comment}}</p>
		</div>
		{% endif %} #}

		 {% include 'user/shared/activity_bar.html' with {columns: "4", item_id: action_id, item_type_id: item_type_id, item_talent_id: talent_id, item_role_id: role_id, item_title_id: title_id, item_name: item_name, sub_title: movie_name, user_liked: user_liked, user_disliked: user_disliked} %}

    </section>
</div>

