<div class="pure-g smoothtext list_item user_activity_item featured_credit">
	<span class="featured_ribbon"></span>
    <section class="pure-u-24-24 purepad">

         {% if credit_type == "casting" %}
            {% set the_name = role_name %}
            {% set item_name = talent_name~" as "~role_name %}
        {% else %}
            {% set the_name = identity_name %}
            {% set item_name = talent_name~" for "~movie_name %}
        {% endif %}

    	{% include 'credits/credit_topline.html' %}

        {% include 'user/shared/activity_large_sidebyside.html' with { talent_pic_url: talent_pic_url, role_pic_url: role_pic_url, talent_name: talent_name, role_name: role_name, link_url: credit_url, credit_year: credit_year} %}

        <span class="activitybar_fix"></span>

   		{% if comment|length > 0 %}
            <div class="pure-u-24-24 featured_quote">
        		<p class="italic">{{comment}}</p>
    		</div>
		{% endif %}

		 {% include 'user/shared/activity_bar.html' with {columns: "4", item_id: action_id, item_type_id: item_type_id, item_talent_id: talent_id, item_role_id: role_id, item_title_id: title_id, item_name: item_name, sub_title: movie_name, user_liked: user_liked, user_disliked: user_disliked} %}

    </section>
</div>