{% spaceless %}
	
	{% for item in list_items %}
		
		{% include '/credits/featured-credits_item.html' with { 
			item_type_id: item.item_type_id,
			
			item_number: item.item_number,
			user_liked: item.more.user_liked,
            user_disliked: item.more.user_disliked,
            
            title_id: item.more.title_id,
            action_id: item.action_id,
			talent_id: item.more.talent_id,

			strong: item.profile_name, 
			profile_url: item.more.profile_url,  
			
			talent_pic_url: item.talent_pic_url, 
			role_pic_url: item.role_pic_url, 
			profile_pic_url: item.profile_pic_url,
			talent_name: item.talent_name, 
			role_name: item.more.role_name,
			 
			
			identity_type: item.more.identity_type,
			identity_id: item.more.identity_id,
			identity_name: item.more.identity_name,
			
			movie_name: item.more.movie_name, 

			credit_type: item.more.credit_type,
			credit_year: item.more.credit_year,
			credit_url: item.more.profile_url~"?track=featured",

			num_likes:item.more.num_likes,  
			num_dislikes:item.more.num_dislikes, 

			movie_name: item.more.movie_name, 
			credit_year: item.more.credit_year,
			credit_type: item.more.credit_type,
			format_name: item.more.format_name
			} 
		%}
		
	{% endfor %}

	{% if (set_num * limit) < total_count %}
		<div class="pure-g story_border loading-bar">
			<div class="pure-u-1 loading_box activity_loading noflex">
		    	<a href="#">Loading more...</a>
		    </div>
		</div>
	{% endif %}
{% endspaceless %}
	

