<!-- comments mobile -->

{#
	set_num: {{set_num}} <br>
	total_count: {{total_count}}<br>
	limit: {{limit}}
#}

{% if total_count > 0 %}
	
	{% for row in comments_items %} 
		<div class="comment purepad{{ row.just_added }}">
		{% if row.anonymous == 'Y' or row.user_id|length < 1 %}
		
			<div class="pic_box pure-u-4-24">
				<img class="user_pic" src="/images/small_silhouette.jpg" width="50" height="50" alt="anonymous" />
			</div>
			<div class="comment_text pure-u-19-24">
				<p><a href="javascript:;">Anonymous</a>&nbsp; <span class="timestamp">{{ row.time_elapsed }}</span></p>
				<p class="comment_block">{{ newline2Break(row.comment)|raw }}</p>
			</div>
			
		{% else %}
			
				
				{% if row.oauth_uid|length > 0 %}
					{% set commenter_pic = "https://graph.facebook.com/" ~ row.oauth_uid ~ "/picture?width=30&height=30" %}
				{% elseif row.main_pic|length > 0 %}
					{% set commenter_pic = constant('CLOUDFRONT') ~ "images/users/" ~ row.user_id  ~ "/SM_" ~ row.main_pic %}
				{% elseif row.user_pic|length > 0 %}
					{% set commenter_pic = row.user_pic %}
				{% else %}
					{% set commenter_pic = "/images/small_silhouette.jpg" %}
				{% endif %}
	
	
				<div class="pic_box pure-u-4-24">
					<a href="/users/{{row.user_id}}"><img class="user_pic" src="{{ commenter_pic }}" width="50" height="50" alt="{{ row.commenter_name }}" /></a>
				</div>
				<div class="comment_text pure-u-19-24">
					<p><a href="/users/{{row.user_id}}">{{ row.commenter_name }}</a>&nbsp; <span class="timestamp">{{ row.time_elapsed }}</span></p>
					<p class="comment_block">{{ newline2Break(row.comment)|raw }}</p>
				</div>
				
		{% endif %}
		
	</div>
	{% endfor %} 
	
	{% if set_num > 0 and (set_num * limit) < total_count %}
	   	<div class="pure-g story_border loading-bar comments-loading">
			<div class="pure-u-1 loading_box follow_loading noflex">
		    	<a href="#">Loading more...</a>
		    </div>
		</div>
	{% endif %}
{% else %}
<div class="purepad no_comments_pad">
	<span class="none">No comments have been added.</span>
</div>
{% endif %}

{#{% endspaceless %}#}