<div class="pure-g purepad">
	<div class="write-comment pure-u-1">
	
		{% if show_user_pic != false %}
			<div class="pic_box pure-u-4-24">
				<img class="user_pic" src="{{ session.pic }}" width="50" height="50" alt="" />
			</div>
		{% endif %}
		
		<div class="text_box comment_box">
			<textarea name="comment" placeholder="{{comment_prompt}}" maxlength="500"></textarea>
			<span class="message"></span>
		</div>

	</div>
</div>

<div class="pure-g purepad">
	<div class="pure-u-1">
		<div class="comment_buttons">
			<a class="narrow_book button grey cancel_comment">{{button_kw}}</a>
			<a class="narrow_book button post_btn submit_comment comm_submit_btn">POST</a>
		</div>
	</div>
</div>
	