<!-- fans html -->
{% import "/shared/user_image.html" as user_image %}
{% spaceless %}
{% for row in fans %}

    
    {% include '/shared/mobile_fans_column_item.html' with {'user_id': row.user_id, 
                                                            'user_name': row.first_name~' '~row.last_name,
                                                            'user_pic': user_image.get_user_image(row.user_id, row.oauth_uid, row.user_pic),
                                                            'proposal_count': row.proposal_count,
                                                            'follow_state': row.follow_state} %}

{% endfor %}


{% if (set_num * section_limit) < total_count %}
	
    <div class="pure-u-24-24 none noprops italic loadingmore"> loading more... </div> 
	
{% endif %}

{% endspaceless %}
