<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page_title }} | {{ constant('SITENAME') }}</title>	
	<meta name="description" content="Vote for {{ profile_info.name }} to be made into a movie, and propose your dream cast">
	<meta name="keywords" content="story, movie, film, TV, cast, dream cast, author">
	<meta property="fb:app_id" content="{{ constant('FB_APP_ID') }}"/>
	<meta property="fb:admins" content="100005447197364"/>
	<meta property="og:title" content="Vote for {{ profile_info.name }} to be a movie or TV series on The IF List." />
	<meta property="og:description" content="Propose your dream cast and nominate filmmakers." />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://{{ server.SERVER_NAME }} {{ server.REQUEST_URI }}" />	 
	<meta property="og:image" content="{{ constant('CLOUDFRONT') }}/images/story_proposals/{{ profile_info.profile_id}}/{{ profile_info.share_image }}" />
	<meta property="og:image:type" content="image/jpg">
	<meta property="og:site_name" content="The IF List"/>
	<meta http-equiv="X-UA-Compatible" content="IE-edge" /> <!-- takes care of IE 9 acting like IE 8 -->
	
	{% include 'shared/global_includes_css.html' %} 

	<link rel="stylesheet" href="/styles/profile.css" />	

	{% include '/shared/global_includes_js.html' %} 
	
	{% include '/shared/global_includes_js_bottom.html' %}
	
</head>
