<div class="fixed_buttons support noflex FixedBottom">

    {% if button_type == "follow" %}
    
        <div id="buttonrow" class="listbutton">
            <div id="buttonone" class="button{% if follow_state == 'followed' %} activated{% endif %}">
                 <h2 class="follow_text narrow_book">FOLLOW</h2>
            </div>
        </div>
    
    {% else %}

        <div id="buttonrow" class="listbutton">
            <div id="buttonone" class="button" data-user_id="{{ session.id }}" show-tooltip="Y">
                <h2 class="narrow_book"><span class="lbl">{{button_text}}</span></h2>
            </div>
        </div>
                         
    {% endif %}
        
</div>