<div class="pure-g FixedTop">
    <div class="pure-u-1">
        <header>
            <div class="pure-g purepad">
                 <div class="pure-u-1 searcher">
                    <input type="text" placeholder="Enter actor, book, comic, etc." class="searchdiv" />

                </div>

                <a href="#menu" id="global_menu" onclick="ga('send', 'event', 'mobileMainMenu', 'clickMainMenu', 'click icon to open or close main menu');">
                    <i class="fa fa-bars nav_lines"></i>
                    {% set global_count = session.notifications_count + session.unread_messages_count %}
                    {% if global_count > 0 and session.id|length > 0 %}<span class="narrow_book"><span>{{ global_count }}</span></span>{% endif %}
                </a>

                <a href="/"><img alt="picture" class="nav_resize" src="/images/IF_LIST_logo_fin_medium.png"></a>

                <a href="#" class="showsearch">
                    <i class="fa fa-search"></i>
                </a>
            </div>                
        </header>
    </div>
</div>