<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    
    {# <title>{{ page_title }} | {{ constant('SITENAME') }}</title> #}

    <!-- css framework -->
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    
    <!-- css custom -->
    <link rel="stylesheet" type="text/css" href="/min/?f=/styles/jquery-ui.css,/styles/reset.css,/styles/global.css,/js/plugins/select2-3.4.5/select2.css,/styles/jquery.mmenu.all.css,/styles/mobile.css">
     
    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="iflist_apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="iflist_apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="iflist_apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="iflist_apple-icon-144x144.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    {# <meta name="apple-mobile-web-app-capable" content="yes"> #}
  
