<div class="supporter_link" data-user_id="{{ user_id }}">
	<a class="narrow_book supporter" href="/users/{{user_id}}" id="{{ user_id }}" title="{{ user_name }}">
        <img class="filled support_panel_pic" src="{{ user_pic }}" width="35" height="35"/>
        <p class="sup_name">{{ user_name }}</p>
        <p class="prop_amount">{{ proposal_count }} proposal{% if proposal_count != 1 %}s{% endif %} </p>
    </a>   
    {% if follow_state != 'self' %}
        <div class="follow_button_wrapper" data-followed_user_id="{{user_id}}" data-followed_user_name="{{user_name}}">
            <span class="button follow_button_sm{% if follow_state == 'followed' %} activated{% endif %}">
                <i class="fa fa-plus" title="{{ user_name }}"></i>
            </span>
        </div>
    {% endif %}
</div>