<!-- role_crew_list -->
{% spaceless %}
{% if list|length < 1 %}

<div class="pure-g smoothtext purepad"> 
	    <div class="pure-u-4-24"> </div>
		
	    <div class="pure-u-24-24 no_actors_yet"><p><span class="none">Add characters in order to cast your favorite actors in {{ profile_info.name }}.</span></p></div>
	    
 </div>  

{% endif %}

{% for row in list %} 

	{# {% include '/shared/role.html' with {'role_id': row.role_id, 'role_name': row.role_name, 'role_pic': row.role_pic, 'user_id': row.user_id, 'roles_primary_title_id': row.roles_primary_title_id} %} #}

	{# this allows us to use this template for roles and for crew #}
	{% if row.role_id|length > 0 %}
		{% set id = row.role_id %}
		{% set name = row.role_name %}
		{% set img = row.role_pic  %}
		{% set add_label_name = "Actor" %} 
		{% set add_link_class = "add_actor_link" %}

		{% set form_url = '/includes/newproposal-form.php?proposal_type=casting&profile_type=title&id='~id~'&name='~name~'&pic='~img~'&title_id='~profile_id~'&title_pic='~profile_info.main_pic_url %}
	{% endif %} 
	
	{% if row.role_id|length < 1 %}

		{% set id = row.crew_id %}
		{% set name = row.crew_name %}
		{% set img = '/images/small_silhouette.jpg' %}
		{% set add_link_class = "add_crew_link" %}

		{% if add_label == "OTHER" %} 
			{% set add_label_name = name %} 
		{% endif %}  
		
		{% set form_url = '/includes/newproposal-form.php?proposal_type=crew&profile_type=title&id='~profile_id~'&prof_name='~profile_info.name~'&name='~name~'&title_id='~profile_id~'&pic='~profile_info.main_pic_url~'&crew_identities='~overview.crew.names|join('|')~'&crew_ids='~overview.crew.ids|join('|') %}


	{% endif %}  

	 <div class="pure-g purepad {{ row_class }} row_top{% if row.proposal_count > 0 %} min_207{% endif %}" id="{{ id }}" data-proposal_count="{{row.proposal_count}}"> 

        <div class="pure-u-24-24 borders">
            <div class="pure-u-2-24 prop_name">
                <img class="pure-img prop_img" src="{{ img }}" alt="{{ name }}" />
            </div>
            <div class="pure-u-22-24 prop_name">
                <div class="prop_name_center">
              	    <p>{{ name|raw }}</p>


                    {% if row.role_id|length > 0 %} {# ONLY SHOW FOR CASTING #}

                    	{% if row.access.has_access == 1 %}  
		                    	
		                    	{% if row.roles_primary_title_id == overview.profile_id %}
		                    		<span class="delete_char" data-perm_delete="Y">X</span>
		                    	{% else %}
		                    		<span class="delete_char" data-perm_delete="N">X</span>
		                    	{% endif %}

		         
		                {% endif %}


                    {% endif %}
                </div>
            </div>
        </div> 

       <div class="pure-u-24-24 roles_container">
 			{# dynamic html gets inserted after here #} 
 			{% include 'shared/more_less_navigation.html' %}	
		
		    <div class="pure-u-4-24 ib"> </div>
		    
		    {% if session.id|length > 0 %}
		    	{% set link = form_url %}
		    {% else %}
		    	{% set link = "/includes/login-form.php?redirect=" ~ form_url|url_encode %}
		    {% endif %}

			<div class="pure-u-10-24 ib">
		        <div class="add_actor {{ add_link_class }}"> 
		            <div class="narrow_book upper"><i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{{link}}" role_id="{{ id }}" class="propose">{{ add_label_name }}</a>
		            </div>
		        </div>   
		    </div>    
	    </div>
   	</div>  
    
{% endfor %}
 
{% endspaceless %}


