{% macro get_words_array(var, status_str) %}

{% set words_arr = var|split(' ') %}
                            {% set lastword = words_arr|last %}
                            {% set firstwords = '' %}
                            {% for i in words_arr|slice(start, length-1) %}
                                {% set firstwords = firstwords ~ ' ' ~ i %}
                            {% endfor %}
                            {{ firstwords }} <span class="{{status_str}}">{{ lastword }}</span>

{% endmacro %}