
{% include '/shared/mobile_head.html' %}

<link rel="stylesheet" type="text/css" href="/styles/forms.css">

{% include '/shared/mobile_head_bottom.html' %}
<span class="prop"></span>
{% include '/shared/body_header.html' %}

<div class="pure-g fullwidth_wrapper aboutheader form_container">
    <div class="fullwidth_row">
    	<div class="header">
        <span class="narrow_light">{{form_title}}</span>
        
		</div>
    </div>

</div>


<div class="form_container mobile purepad" id="proposal_form">
	


	{% include "/shared/proposal-formfields.html" %}
	
</div>


{% include '/shared/proposal_form_footer_js.html' %}

{% include '/shared/body_footer_js.html' %}
<script src="/min/?f=js/proposalform_mobile.js,js/modernizr-latest.js,js/plugins/select2-3.4.5/select2.min.js,js/file-upload/script.js,js/file-upload/jquery.filedrop.js,js/jquery.slimscroll.min.js,js/newproposal-form.js"></script>
<script type="text/javascript">
$("header").css("position", "absolute")
</script>

{% include '/shared/body_footer.html' %}

