{% include '/shared/mobile_head.html' %}

{% include '/shared/metadata/postpage_metadata.html' %}

{% include '/shared/mobile_head_bottom.html' %}

{% include '/shared/body_header.html' %}

{% import "/shared/words_array.html" as word_array %} 

	{% if page == "credit" %}
	
		{% set talent_pic_sm = postpage_info.talent_pic_sm %}	    	  
		{% set role_pic_sm = postpage_info.role_pic_sm %}

	{% else %}	

		{% if postpage_info.media_talent_pic != "" %}
			{% set talent_pic = postpage_info.media_talent_pic %}
		{% else %}
			{% set talent_pic = postpage_info.main_talent_pic %}
		{% endif %}

		{% if postpage_info.media_role_pic != "" %}
			{% set role_pic = postpage_info.media_role_pic %}
			{% set role_pic_sm = constant('CLOUDFRONT') ~ constant('ROLE_PICS_DIR') ~ postpage_info.role_id ~ '/LTN_' ~ role_pic %}

		{% elseif postpage_info.main_role_pic != "" %}
			{% set role_pic = postpage_info.main_role_pic %}
			{% set role_pic_sm = constant('CLOUDFRONT') ~ constant('ROLE_PICS_DIR') ~ postpage_info.role_id ~ '/LTN_' ~ role_pic %}

		{% else %}
			{% set role_pic = postpage_info.main_title_pic %}
			{% set role_pic_sm = constant('CLOUDFRONT') ~ constant('TITLE_PICS_DIR') ~ postpage_info.title_id ~ '/LTN_' ~ role_pic %}

		{% endif %}
		{% set talent_pic_sm = constant('CLOUDFRONT') ~ constant('TALENT_PICS_DIR') ~ postpage_info.talent_id ~ '/LTN_' ~ talent_pic %}

	{% endif %}




<div class="pure-u-1 container">

	<div class="pure-g purepad">	
		
		<div class="image_box postpage_box pure-u-12-24">
			
				<div class="resize half-size postpage_box_image" style="background: url('{{ talent_pic_sm }}');"></div>
			<div class="inner_shadow">
				<a class="talent_pagelink" href="{{ talent_url }}">
				{% if (prev_id != "") %}
				{% include '/shared/left_arrow.html' %}
				{% endif %}
				<div class="icon_left"></div>
				</a>
			</div>
			
			
		</div>
		
		
		<div class="image_box postpage_box pure-u-12-24">

			<div class="resize half-size postpage_box_image" style="background: url('{{ role_pic_sm }}');"></div>
			{% if featured != "" %}
                   <span class="featured_ribbon"></span>
            {% endif %}
    		
			<div class="inner_shadow">

				{% if (next_id != "") %}
				{% include '/shared/right_arrow.html' %}
				{% endif %}

				<img src="/images/{% if page=='proposal' %}if_icon_white{% elseif page=='credit'%}year_icons/year_icon_{{postpage_info.year|slice(-2,2)}}{%endif%}.png" alt="if" class="resize_if" />
				<div class="icon_right"></div>
			</div>
		</div>
		 

		<div class="pure-u-1 title">

			{% if officially_cast == 'Y' and postpage_info.status_id != 10 and postpage_info.status_id != '' and postpage_info.status_id != 0 %}
				{% set casted_str = "status-mark " ~ get_title_status(postpage_info.status_id).class %} 
			{% else %}
				{% set casted_str = "" %} 
			{% endif %}

			{% if page == "credit" %}
				{% set casted_str =  casted_str ~ "status-mark credit-mark" %}
				{% set tooltip_text = "Officially Credited" %}
			{% elseif page == "proposal" and officially_cast == 'Y' %}
				{% set tooltip_text = "Officially Cast" %}
			{% endif %}

			{% if postpage_info.post_type == "casting" %}
				{% set talent_as = postpage_info.role_name|raw %}
			{% elseif postpage_info.post_type  == "crew" %}
				{% set talent_as = postpage_info.position_name|raw %}
			{% endif %}

				<h1 title="{{tooltip_text}}" class="narrow_light"><a class="prop_talent_title" title="{{ postpage_info.talent_name|raw }}" href="{{ talent_url }}">{{ postpage_info.talent_name|raw }}</a> as {{word_array.get_words_array(talent_as, casted_str)}}</h1>		
		</div>
	   

		<div class="pure-u-1 caption prop_caption">
			<ul class="narrow_light">
				{% if postpage_info.source_name|length > 0 %}
					<li class="upper publisher">
						<p>
							{% if page == "proposal" %}
							<a class="source_link jacket_link" href="/stories/{{ postpage_info.source_link }}">{{postpage_info.source_name}}</a>
							{% elseif page == "credit" %}
								<span class="source_nolink">{{postpage_info.source_name}}</span>
							{% endif %} 

							&nbsp;({{postpage_info.format_name}}{%if page == "credit" %}, {{postpage_info.year}}{%endif%})
						</p>
					</li>
				{% endif %}

			</ul>

		</div>
	   
	</div>
	
	
</div>


<div class="pure-g purepad white_area">

	
	<div class="pure-u-13-24">
		<ul class="social_text postpage_soc_text">
		
			<li class="sprite narrow_book active like_btn {% if postpage_info.liked == 'Y' %} activated{% endif %}" show-tooltip="Y"></li>
			
			<span class="narrow_book num like_count" val="{{ postpage_info.num_likes }}">{{ number_format(postpage_info.num_likes) }}</span>

			<li class="sprite narrow_book active dislike_btn {% if postpage_info.disliked == 'Y' %} activated{% endif %}" show-tooltip="Y"></li>
			
			<span class="narrow_book num dislike_count" val="{{ postpage_info.num_dislikes }}">{{ number_format(postpage_info.num_dislikes) }}</span>
		
		</ul>
		
	</div>

	<div class="pure-u-11-24 postpage_supporters">
        <div class="pure-u-1">

            <span class="supporters_row_pics postpage_supporters_row">
           
                {% include '/shared/supporters_row.html' with {"num_fans":5} %}
                              
            </span>
            {% if postpage_info.num_likes > 0 %}
            
            <h2 class="narrow_book supporters_more"><a href="#supporters_panel"><i class="fa fa-chevron-right"></i></a></h2>
            
            {% endif %}
        </div>
    </div>



   
</div>
<div class="postpage_soc"></div>


 <div class="pure-g proposed_by">
 
	{% if (postpage_info.user_pic_type == 'uploaded') %} 
		{% set poster_pic = constant('CLOUDFRONT') ~ "images/users/" ~ postpage_info.poster_id ~ "/SM_" ~ postpage_info.poster_pic  %}	
	{% elseif (postpage_info.user_pic_type == 'fb')  %} 
		{% set poster_pic = "https://graph.facebook.com/" ~ postpage_info.oauthid ~ "/picture?width=30&height=30" %}	
	{% else %}
		{% set poster_pic = "/images/small_silhouette.jpg" %}	
	{% endif %}

	{% if postpage_info.anonymous != 'Y' %}
		{% set user_link_str = "/users/" ~ postpage_info.poster_id %}
		{% set poster_name_str = postpage_info.poster_name %}
	{% else %}
		{% set user_link_str = "" %}
		{% set poster_name_str = "Anonymous" %}
	{% endif %}

	{% if page == "proposal" %}
	<div class="proposedby_bar pure-u-1">
		<div class="purepad">
			<div class="proposer_pic_box pure-u-24-24">
				<a href="{{user_link_str}}"><img class="proposer_pic user_pic" src="{{ poster_pic }}" width="30" height="30" alt="{{ poster_name_str }}" /></a>
				<span class="by_line">proposed by <a href="{{user_link_str}}"><span class="username">{{ poster_name_str }}</span></a> <span class="proposed_by_time">{{ postpage_info.date_time }}</span></span>
			</div>
		</div>
	</div>
	{% endif %}
	
 </div>
 	
 	{% if comments_status != "closed" %} 
	 	{% if session.id|length > 0 %}

	 		{% if page == "proposal" %} 
				{% set prompt = "What do you think of this proposal?"  %}	
			{% elseif postpage_info.post_type == "crew" %}
				{% set prompt = "What did you think of this "~postpage_info.position_name|lower~"'s work?" %}
			{% elseif postpage_info.post_type == "casting" %}
				{% set prompt = "What did you think of this actor's performance?" %}
			{% endif %}

	         <div class="scroll_endorse endorsement_box postpage_comments">
	            {% include 'mobile/shared/comment_box.html' with {"show_user_pic": true, "comment_prompt": prompt, "button_kw": "CLEAR"} %}
	        </div>
	    {% else %}
	        <div class="pure-g purepad scroll_endorse postpage_comments">
	            <div class="pure-u-1 login_to_endorse">
	                <h2 class="narrow_book endorse_prompt"><a href="/login?form=comment">LOGIN</a> TO WRITE A COMMENT</h2>
	            </div>
	        </div>
	    {% endif %} 
    {% endif %}

	{% include '/shared/deactivated_comment_box.html' %}  

     
     <div class="pure-g smoothtext user_comments endorsement_margin">
     
     	{# {% include 'mobile/shared/comments.html' with {'type': page} %} #} {# <-- load via ajax #}
     		
	 </div>
     	

	<div class="pure-u-24-24 whitespace_footer"></div>
 
 	
	{% include 'shared/share_popup.html' %}

	<div class="ui-widget widget-flash-tooltip">
        <div class="ui-state-highlight"> 
            <p>
               <span>{{tooltip_text}}</span>
            </p>
        </div>
        <div class='status-arrow'></div>
    </div>

	{# FOR PROPOSE BUTTON #}

	{% if page == "proposal" %}
		{% if postpage_info.post_type == "casting" %}

			{% if postpage_info.title_id != "" %}
				{% set prf_type = "title" %}
			{% else %}
				{% set prf_type = "role" %}
			{% endif %}

			{% set form_url = '/includes/newproposal-form.php?proposal_type=casting&profile_type='~prf_type~'&id='~postpage_info.role_id~'&name='~postpage_info.role_name~'&pic='~role_pic_sm~'&title_id='~postpage_info.title_id~'&title_pic='~role_pic_sm %}

			{% set keyword = 'ACTOR' %}

		{% elseif postpage_info.post_type == "crew" %}

			{% set form_url = '/includes/newproposal-form.php?proposal_type=crew&profile_type=title&id='~postpage_info.title_id~'&prof_name='~postpage_info.source_name~'&name='~postpage_info.position_name~'&title_id='~postpage_info.title_id~'&pic='~role_pic_sm~'&crew_identities=Director|Writer|Composer&crew_ids=3|5|6' %}

			{% set keyword = postpage_info.position_name|upper %}

		{% endif %} 
	{% elseif page == "credit" %}
		{% if postpage_info.post_type == "casting" %}

			{% set form_url = '/includes/newproposal-form.php?proposal_type=casting&profile_type=talent&id='~postpage_info.talent_id~'&name='~postpage_info.talent_name~'&pic='~postpage_info.main_talent_pic %}

			{% set keyword = 'ROLE' %}
		{% elseif postpage_info.post_type == "crew" %}

			{% set form_url = '/includes/newproposal-form.php?proposal_type=crew&profile_type=talent&id='~postpage_info.talent_id~'&name='~postpage_info.talent_name~'&pic='~postpage_info.main_talent_pic~'&crew_identities='~postpage_info.position_name~'&crew_ids='~postpage_info.position_id %}

			{% set keyword = 'PROJECT' %}
		{% endif %} 
	{% endif %}

	
		<!-- <div class="pure-g purepad bottom_pad">
			<div class="pure-u-1"></div>
		</div>	 -->

		 <div class="ui-widget widget-flash FixedBottom">
	        <div class="ui-state-highlight"> 
	            <p>
	               <span>You followed</span>
	            </p>
	        </div>
	    </div>
		

	 	<div class="fixed_buttons support noflex FixedBottom">
		    <div id="buttonrow">
		       		{% if session.id|length > 0 %}
			    		{% set propose_link = form_url %}
				    {% else %}
				    	{% set propose_link = "/includes/login-form.php?redirect=" ~ form_url|url_encode %}
				    {% endif %}
				    <a href="{{propose_link}}">
			            <div id="buttonone" class="button follow_button">
			                <h2 class="narrow_book">PROPOSE {{keyword}}</h2>
			            </div>
		        	</a>
		        
		         <div id="buttontwo" class="sharebutton silverbg">
		            <h2 class="narrow_book">SHARE</h2>
		        </div>
		    </div>
		</div>

 

 	
	
<!-- </div> -->
</div>



{% include '/shared/supporters_panel.html' with {'total_count': postpage_info.num_likes, 'type': page } %}

{% include '/shared/body_footer_js.html' %}


<script type="text/javascript">
		
	page = "{{ page }}";
	revision = "{{ rev }}";
	title = "{{ title }}";
	message = "{{ og_description_message }}";
	postpage_id = "{{ postpage_id }}";
	postpage_type = "{{ postpage_info.post_type }}";
	postpage_type_id = "{{ post_type_id }}";
	proposer_id = "{{ postpage_info.poster_id }}";
	proposer_name = "{{ postpage_info.poster_name }}";
	talent_id = "{{ postpage_info.talent_id }}";
	role_id = "{{ postpage_info.role_id }}";
	title_id = "{{ postpage_info.title_id }}";
	talent_name = "{{ postpage_info.talent_name }}";
	role_name = "{{ postpage_info.role_name }}";
	source_name = "{{ postpage_info.source_name }}";
	position_name = "{{ postpage_info.position_name }}";
	post_image = "{{ postpage_info.post_image }}";
	comment_count = "{{ comment_count }}";
	officially_cast = "{{ officially_cast }}";
	post_year = "{{ postpage_info.year }}";
	num_supporters = "{{ postpage_info.num_likes }}";
	referer = "{{ referer }}";
	user_num_proposals = "{{user_num_proposals}}";

</script> 


<script type="text/javascript" src="/min?f=js/post_page.js,js/postpage_mobile.js,js/ScrollManager.js,js/CommentManager.js,js/LikeDislikeManager.js,js/FollowManager.js,js/supporters_mobile.js,js/ShareManager.js,js/Fans.js,/js/plugins/handlebars-v3.0.3.min.js"></script>

<!-- handlebars template for inserting logged-in user -->
<script id="fan-item-template" type="x-handlebars-template">​
	
	{% include '/shared/mobile_fans_column_item.html' with {'user_id': session.id, 'user_name': session.username, 'user_pic': session.pic, 'proposal_count': user_num_proposals, 'follow_state': "self"} %}
	
</script> 

<script id="fan-row-item-template" type="x-handlebars-template">​

    {% include '/shared/mobile_fans_row_item.html' with {'user_id': session.id, 'user_name': session.username, 'user_pic': session.pic} %}
    
</script> 


<script type="text/javascript">
	$(function() {
		initPostPage();
		MobilePostPage.init();
		Supporters.init();
	});
</script>

{% include '/shared/body_footer.html' %}

