<div class="pure-g smoothtext list_item user_activity_item featured_proposal">
	<span class="featured_ribbon"></span>
    <section class="pure-u-24-24 purepad">
       
        {# STATUS #}
        {% if title_status_id != "" and title_status_id != 10 %}
            {% set status_str = "status-mark "~get_title_status(title_status_id).class %}
        {% endif %}

    	{% include 'stories/stories_topline.html' with {link_url: profile_url, status_str: status_str, genres: genres} %}

        {% include '/shared/user/activity_featured_profile.html' with { image_url: profile_pic_url, image_name: profile_name, subtitle: subtitle, link_url: profile_url } %}

		{% include '/shared/user/activity_bar.html' with {columns: "3", item_id: action_id, item_type_id: item_type_id, item_name: profile_name} %}


    </section>
</div>