{% include '/shared/mobile_head.html' %}

{% include '/shared/metadata/partners_metadata.html' %}

{% include '/shared/mobile_head_bottom.html' %}

{% include '/shared/body_header.html' %}
<!-- <div class="mobile_tos"> -->

<div class="pure-g fullwidth_wrapper aboutheader">
    <div class="fullwidth_row">
        <h1 class="narrow_light">Our Partners</h1>
    </div>
</div>

 <div class="pure-g">
 	<!-- <div class="pure-u-2-24"></div> -->

	<div class="pure-u-24-24 smoothtext">



		{% include '/shared/partner.html' %}
		
	</div>

 	<!-- <div class="pure-u-2-24"></div> -->
</div>
<!-- </div> -->

{% include '/shared/body_footer_js.html' %}
{% include '/shared/body_footer.html' %}