{% include '/shared/mobile_head.html' %}
<link rel="stylesheet" type="text/css" href="/styles/subpages.css">
<link rel="stylesheet" type="text/css" href="/styles/mobile.css">
{% include '/shared/mobile_head_bottom.html' %}

{% include '/shared/body_header.html' %}

<div class="pure-g fullwidth_wrapper aboutheader">
    <div class="fullwidth_row">
        <span class="narrow_light">Privacy Policy</span>
    </div>
</div>

 <div class="pure-g purepad">

	<div class="pure-u-24-24 smoothtext">

		{% include '/shared/privacy.html' %}
		
	</div>

</div>

{% include '/shared/body_footer_js.html' %}
{% include '/shared/body_footer.html' %}