{% include '/shared/mobile_head.html' %}

{% include '/shared/mobile_head_bottom.html' %}

{% include '/shared/body_header.html' %}

 
<!-- ENTER CONTENT HERE -->

<div class="pure-g fullwidth_wrapper newsheader">
    <div class="fullwidth_row">
        <h1 class="narrow_light">Featured Casting Proposals</h1>
    </div>
</div>

<div id="profilebody" class="userhome_body">
    
{% if total_count > 0 %}
    
    {% include '/proposals/featured-proposals_list.html' with {'list_items': list_items, 'set_num': 1} %}

{% endif %}

  
<div class="ui-widget widget-flash FixedBottom">
    <div class="ui-state-highlight"> 
        <p>
           <span></span>
        </p>
    </div>
</div>

<!-- END ENTER CONTENT -->

{% include 'shared/share_popup.html' %}

{% include '/shared/body_footer_js.html' %}


<script type="text/javascript" src="/min/?f=js/plugins/jquery.expander.min.js,js/listpage_mobile.js,js/trunk8.min.js,js/ScrollManager.js,js/LikeDislikeManager.js,js/CommentManager.js,js/ShareManager.js,js/ActivityActionsBar.js,js/modal.js"></script> 

<script type="text/javascript">

    ///var initial_section = "{{ initial_section }}";
    var total_count = "{{ total_count }}";
    var limit = "{{ limit }}";
    var post_script = "{{ post_script }}";

    $(function() {
        List_Page.init();
        ActivityActionsBar.init();
    });

</script>

{% include '/shared/body_footer.html' %}




