<div class="pure-g smoothtext list_item user_activity_item featured_proposal">
	<span class="featured_ribbon"></span>
    <section class="pure-u-24-24 purepad">

        {% if proposal_type == "casting" %}
            {% set item_name = talent_name~" as "~role_name %}
        {% else %}
            {% set item_name = talent_name~" for "~profile_name %}
        {% endif %}

        {# STATUS #}
        {% if officially_cast == 'Y' and title_status_id != 10 and title_status_id != 0 and title_status_id != "" %}
            {% set status_str = "status-mark "~get_title_status(title_status_id).class %}
        {% endif %}

    	{% include 'proposals/proposal_topline.html' with {link_url: proposal_url} %}

        {% include '/shared/user/activity_large_sidebyside.html' with { talent_pic_url: talent_pic_url, role_pic_url: role_pic_url, talent_name: talent_name, role_name: role_name, link_url: proposal_url} %}


        {% include 'proposals/proposed_by.html' with {name: user_name, time_elapsed: time_elapsed} %}

   		{% if comment|length > 0 %}
        <div class="pure-u-24-24 featured_quote">
    		<p class="italic">{{comment}}</p>
		</div>
		{% endif %}

		 {% include '/shared/user/activity_bar.html' with {columns: "4", item_id: action_id, item_type_id: item_type_id, item_talent_id: talent_id, item_role_id: role_id, item_title_id: title_id, item_name: item_name, sub_title: profile_name, user_liked: user_liked, user_disliked: user_disliked} %}


    </section>
</div>