{% spaceless %}
	
	{% for item in list_items %}

		{% include '/proposals/featured-proposals_item.html' with { 
			anonymous: item.anonymous,
			item_type_id: item.item_type_id,
			user_name: item.more.user_full_name,
			user_id: item.more.user_id,
            user_img: item.more.user_img,
            user_liked: item.more.user_liked,
            user_disliked: item.more.user_disliked,
            talent_id: item.more.talent_id,
            role_id: item.role_id,
            title_id: item.more.title_id,
            action_id: item.action_id,
			proposal_type: item.more.proposal_type, 
			strong: item.profile_name, 
			profile_url: item.more.profile_url, 
			proposal_url: item.more.proposal_url~"?track=featured",
			time_elapsed: item.time_elapsed,
			talent_pic_url: item.talent_pic_url, 
			role_pic_url: item.role_pic_url, 
			profile_pic_url: item.profile_pic_url,
			talent_name: item.talent_name, 
			role_name: item.more.role_name,
			subtitle: item.subtitle, 
			comment: item.more.comment,
			identity_type: item.more.identity_type,
			identity_id: item.more.identity_id,
			identity_label: item.more.identity_label,
			profile_name: item.more.profile_name, 
			identity_name: item.more.identity_name,
			officially_cast: item.more.officially_cast,
			title_status_id: item.more.title_status_id,
			} 
		%}
		
	{% endfor %}

	{% if (set_num * limit) < total_count %}
		<div class="pure-g story_border loading-bar">
			<div class="pure-u-1 loading_box activity_loading noflex">
		    	<a href="#">Loading more...</a>
		    </div>
		</div>
	{% endif %}
{% endspaceless %}
	

