{% spaceless %}
			
			{% if profile_info.section != 3 %}
				<li class="publisher"><p>
				{% if profile_info.source_format|length > 0 %}
					{{ profile_info.source_format }}
				{% else %}
					Story
				{% endif %}
				
			{% endif %}

			{% if profile_info.creator|length > 0 %}
				<span class="divider">|</span>
				{% if profile_info.author|length > 0 %}				 			
						<a class="jacket_link" href="/stories?keyword={{ profile_info.author }}">{{ profile_info.author|raw }}</a>
				{% else %}
					{% if profile_info.publisher|length > 0 %}
						<a class="jacket_link" href="/stories?keyword={{ profile_info.publisher }}">{{ profile_info.publisher }}</a>
					{% endif %}	
				{% endif %}
				</p></li>
			{% endif %}

{% endspaceless %}